[project]
name = "m3cv"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "h5py>=3.15.1",
    "keras>=3.11.3",
    "opencv-python>=4.12.0.88",
    "pandas>=2.3.3",
    "pydicom>=3.0.1",
    "tensorflow>=2.20.0",
]
